Repository reisblucas/frontend-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --fix, prettier --write --ignore-unknown

chore: add src folder
  src/components/about-component.cy.tsx
  src/components/about-component.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat: add path mapper on tsconfig
  tsconfig.json
Due: prettier --write --ignore-unknown

chore: add eslint configs and rules
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write --ignore-unknown

Linter config (#1)
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/about-component.cy.tsx
  src/components/about-component.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  tsconfig.json
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore: add chakraui and remove unnecessary scripts
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore(next/config): add next config file to render only page file with "page"
  next.config.js
  src/pages/_app.page.tsx
  src/pages/about.page.tsx
  src/pages/index.page.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore(eslint): turn off no-namespace rule
  .eslintrc.json
Due: prettier --write --ignore-unknown

feat: add infra directory and chakra inside it
  src/infra/chakra/index.ts
  src/infra/chakra/provider.tsx
  src/infra/chakra/styles/index.ts
  src/infra/chakra/styles/theme.tsx
  src/pages/_app.page.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore: add chakra ui icons
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat(ui): add ui directory and initial colormodeswitcher component
  src/ui/index.ts
  src/ui/pattern/ColorModeSwitcher.tsx
  src/ui/pattern/index.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

Chakra UI (#2)
  .eslintrc.json
  next.config.js
  package.json
  pnpm-lock.yaml
  src/infra/chakra/index.ts
  src/infra/chakra/provider.tsx
  src/infra/chakra/styles/index.ts
  src/infra/chakra/styles/theme.tsx
  src/pages/_app.page.tsx
  src/pages/_app.tsx
  src/pages/about.page.tsx
  src/pages/index.page.tsx
  src/ui/index.ts
  src/ui/pattern/ColorModeSwitcher.tsx
  src/ui/pattern/index.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore: add react query
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: add react hook form binded with chakra ui
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: remove next boilerplate code
  src/components/about-component.cy.tsx
  src/components/about-component.tsx
  src/pages/_app.page.tsx
  src/pages/about.page.tsx
  src/pages/index.page.tsx
  src/styles/Home.module.css
  src/styles/globals.css
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(ui/pattern): add head factory component to compose each Page
  src/ui/pattern/HeadFactory.tsx
  src/ui/pattern/index.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore: add nextauth and axios
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: add hook form dependencies and yup as schema validation
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat(infra): axios initial route creation
  src/infra/axios/auth.ts
  src/infra/axios/index.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

fix(chakra): theming file and correct usage
  src/infra/chakra/provider.tsx
  src/infra/chakra/styles/theme.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

fix(lint-staged): fixed lint-staged file
  .lintstagedrc
Due: none

feat: add infra directory and chakra inside it
  src/pages/signin/index.page.tsx
  src/signin/components/index.ts
  src/signin/index.ts
  src/tsconfig.json
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(infra): add tanstack initial setup
  src/infra/tanstack/index.ts
  src/infra/tanstack/setup.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(axios): add axios baseclient
  src/infra/axios/client.ts
  src/infra/axios/index.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(tanstack): add queryclient provider on app
  src/pages/_app.page.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

fix(lint-staged): need to run only on stage files instead of all
  .lintstagedrc
  .lintstagedrc.js
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(sigin): add contract
  src/signin/contracts.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(signin): add service
  src/signin/service.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(signin): add uselogin controller
  src/signin/hooks.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

refactor(signin): add siginform component
  src/signin/components/SigninForm.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore: remove unnecessary file
  src/tsconfig.json
Due: prettier --write --ignore-unknown

feat(signin): add placeholder on signin input
  src/pages/signin/index.page.tsx
  src/signin/components/SigninForm.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(next-auth): add initial setup sending token to client sideon request
  src/pages/_app.page.tsx
  src/pages/api/auth/[...nextauth].service.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

chore(next/config): add service api extension
  next.config.js
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(next-auth): add config to persist token on client side
  src/pages/_app.page.tsx
  src/pages/api/auth/[...nextauth].service.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(auth): add authentication component
  src/infra/nextauth/auth.tsx
  src/infra/nextauth/index.ts
  src/pages/signin/index.page.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(nextauth): adjust console on server
  src/pages/api/auth/[...nextauth].service.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(signin): use nextauth on signin
  src/signin/components/SigninForm.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

fix(app): use auth route only on private routes
  src/pages/_app.page.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(auth): adjust auth component to correct redirect and add spinner
  src/infra/nextauth/auth.tsx
Due: pnpm lint --fix, prettier --write --ignore-unknown

feat(infra/axios): add interceptor on header to send Bearer on request to external api
  src/infra/axios/auth.ts
  src/infra/axios/client.ts
  src/infra/axios/index.ts
Due: pnpm lint --fix, prettier --write --ignore-unknown

Path conditions:
  pnpm lint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.json)
