Repository reisblucas/frontend-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm next lint . --max-warnings=0 --fix",
    "prettier --write --ignore-unknown"
  ],
  "**/*.json": "prettier --write --ignore-unknown"
}

chore(yup): add message on morethan units package property
  src/pages/medications/create.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(dict): add medication dictionary based on creation fields
  src/medications/dictionaries.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

refactor(medications/hooks): implements a more descriptive error message
  src/medications/hooks.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

fix(medications/contracts): ManufacturersList after update typescript
  src/medications/contracts.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

chore(medications/dictionaries): add export on index
  src/medications/index.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

fix(services/create): set manufacturers to be string instead of Manufacturer
  src/medications/services.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(pages): add checkbox inputs and refact validation schema
  src/pages/medications/create.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(pages): add min handler to use as min value on expires-on
  src/pages/medications/create.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

Create medications (#5)
  package.json
  pnpm-lock.yaml
  src/medications/contracts.ts
  src/medications/dictionaries.ts
  src/medications/hooks.ts
  src/medications/index.ts
  src/medications/services.ts
  src/pages/medications/create.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(app): add component title and content metatag
  public/pharmacy.ico
  public/pharmacy.png
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/medications/create.page.tsx
  src/pages/medications/index.page.tsx
  src/pages/signin/index.page.tsx
  src/ui/pattern/HeadFactory.tsx
  src/ui/pattern/index.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat: add initial padding on top of component
  src/infra/chakra/provider.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(home): add logo and sign in button
  src/pages/index.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(footer): add footer and use it
  src/infra/chakra/provider.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/ui/pattern/Footer.tsx
  src/ui/pattern/index.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(layout): add footer to layout and set minheight on pages
  src/pages/index.page.tsx
  src/pages/medications/create.page.tsx
  src/pages/medications/index.page.tsx
  src/pages/signin/index.page.tsx
  src/ui/Layout/Footer.tsx
  src/ui/Layout/Header.tsx
  src/ui/Layout/index.ts
  src/ui/index.ts
  src/ui/pattern/index.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(layout): implement layout and component metatag
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/signin/index.page.tsx
  src/ui/Layout/Header.tsx
  src/ui/Layout/Layout.tsx
  src/ui/Layout/components/DrawerNavigation.tsx
  src/ui/Layout/components/Footer.tsx
  src/ui/Layout/components/Header.tsx
  src/ui/Layout/components/index.ts
  src/ui/Layout/index.ts
  src/ui/Layout/index.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

refactor(pages): update minheight value
  src/pages/index.page.tsx
  src/pages/medications/create.page.tsx
  src/pages/medications/index.page.tsx
  src/pages/signin/index.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(header): add link and image
  src/ui/Layout/components/Header.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

style(drawer): add drawer styles
  src/ui/Layout/components/DrawerNavigation.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

fix(signin): minheight on signin doesnt need to calc header
  src/pages/signin/index.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

refactor(pages): revert calc to 80px, disconsider header
  src/pages/index.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

style(signin): add image, customize form, etc
  public/pills.avif
  src/pages/signin/index.page.tsx
  src/signin/components/SigninForm.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

fix(pages): pages calc after adding padding
  src/pages/index.page.tsx
  src/pages/medications/create.page.tsx
  src/pages/medications/index.page.tsx
  src/pages/signin/index.page.tsx
  src/ui/Layout/Layout.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

style(page): add margintop on pagination component
  src/pages/medications/index.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

style(footer): add boxshadow
  src/ui/Layout/components/Footer.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

style(pages/medications): adjust calc to remove unnecessary scroll
  src/pages/medications/create.page.tsx
  src/pages/medications/index.page.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

style(medications): add medications card
  src/medications/components/MedicationsGridList.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat/layout-and-design (#6)
  public/pills.avif
  src/infra/chakra/provider.tsx
  src/medications/components/MedicationsGridList.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/medications/create.page.tsx
  src/pages/medications/index.page.tsx
  src/pages/signin/index.page.tsx
  src/signin/components/SigninForm.tsx
  src/ui/Layout/Layout.tsx
  src/ui/Layout/components/DrawerNavigation.tsx
  src/ui/Layout/components/Footer.tsx
  src/ui/Layout/components/Header.tsx
  src/ui/Layout/components/index.ts
  src/ui/Layout/index.tsx
  src/ui/index.ts
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

chore(readme): add readme with instructions
  README.md
Due: none

fix(deploy): remove prepare and use publish
  package.json
Due: prettier --write --ignore-unknown

style(header): change position from relative to sticky
  src/ui/Layout/components/Header.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

feat(env): add env.example to run locally
  .env.local.example
Due: none

chore(readme): update roadmap
  README.md
Due: none

chore(readme): fix semantic
  README.md
Due: none

chore(readme): update intro and add prerequisites header 3
  README.md
Due: none

chore(readme): add allowed user to login
  README.md
Due: none

style(footer): add text decoration on github link
  src/ui/Layout/components/Footer.tsx
Due: pnpm next lint . --max-warnings=0 --fix, prettier --write --ignore-unknown

chore(readme): update intro adding information about app could be used on multiplatform
  README.md
Due: none

chore(readme): add folder structure explanation on readme
  README.md
Due: none
